<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if can_destroy_user? user %>
    <%= button_to t("delete"), user, method: :delete, data: {confirm: t("confirm")} %>
  <% end %>
</li>
